[submodule "config/includes.chroot/opt/poclbm"]
	path = config/includes.chroot/opt/poclbm
	url = ../poclbm.git
[submodule "config/includes.chroot/opt/adl3"]
	path = config/includes.chroot/opt/adl3
	url = ../adl3.git
